:root {
    --primary-color: #1E1E1E;
    --secondary-color: #4A4A4A;
    --accent-color: #FFD700;
    --text-color: #FFFFFF;
    --button-color: #FFD000;
  }
  
  #DigitalCard {
    width: 100%;
    padding: 0px 80px;
    padding-bottom: 40px;
    margin: 0 auto;
}

#DigitalCard .row {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    width: 100%;
    margin: 0 auto;}

#DigitalCard .col {
    flex: 1 1 calc(50% - 20px); 
    box-sizing: border-box;
    border-radius: 10px;
    padding: 20px 20px !important;
    box-shadow: 0px 0px 10px var(--box-shadow-color);
}

#DigitalCard h4 {
    color: var(--primary-color);
    font-size: clamp(18px, 3vw, 30px);
    font-weight: 800;
    text-align: left;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 10px;
}

#DigitalCard h4::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: clamp(60px, 16vw, 120px);
    background-color: var(--accent-color);
    border-radius: 2px;
}

#DigitalCard p{
    color: var(--secondary-color);
    font-size: clamp(14px, 1.5vw, 20px);
    text-align: left;
}

@media (max-width: 768px) {
    #DigitalCard .col {
        flex: 1 1 100%;
    }
}

@media (max-width: 1024px) {

    #DigitalCard {
      padding: 0px 60px;
    }
  }
  
  @media (max-width: 820px) {
  
    #DigitalCard {
        padding: 0px 50px;
    }
  }
  
  @media (max-width: 660px) {
  
    #DigitalCard {
        padding: 0px 40px;
    }
  }
  
  @media (max-width: 480px) {
    #DigitalCard {
        padding: 0px 20px;
    }
  }
  
