:root {
    --primary-color: #1E1E1E;
    --secondary-color: #4A4A4A;
    --accent-color: #FFD700;
    --text-color: #FFFFFF;
    --button-color: #FFD000;
  }
  
#goto {
    width: 100%;
    min-height: 20vh;
    background-color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 20px 80px;
    box-sizing: border-box;
    margin: 25px 0px;
}

#goto h2 {
    color: var(--text-color);
    font-size: clamp(25px, 5vw, 50px);
    font-weight: 900;
    display: inline-flex;
    align-items: center;
    gap: 30px; 
    margin: 0;
}

/* Button styles */
#goto .btn {
    color: var(--primary-color);
    background-color: var(--button-color);
    font-size: clamp(12px, 2.2vw, 22px);
    padding: 8px 16px;
    border: none;
    cursor: pointer;
    border-radius: 8px;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

/* Button hover effect */
#goto .btn:hover {
    color: var(--primary-color);
    background-color: var(--accent-color);
    box-shadow: 0px 0px 5px var(--accent-color);
}

/* Responsive Design */
@media (max-width: 768px) {

    #goto h2 {
        font-size: clamp(20px, 5vw, 35px);
        gap: 20px;
    }

    #goto .btn {
        font-size: clamp(14px, 4vw, 20px);
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    #goto h2 {
        font-size: clamp(18px, 5vw, 28px);
        gap: 15px;
    }

    #goto .btn {
        font-size: clamp(12px, 4vw, 18px);
        padding: 8px 16px;
    }
}

@media (max-width: 1024px) {

    #goto {
      padding: 20px 60px;
    }
  }
  
  @media (max-width: 820px) {
  
    #goto {
        padding: 20px 50px;
    }
  }
  
  @media (max-width: 660px) {
  
    #goto {
        padding: 20px 40px;
    }
  }
  
  @media (max-width: 480px) {
  
    #goto {
        padding: 20px 20px;
    }
  }
  